/* Colors */

/* fonts and icons */
$glyph-main: #a6a6a6;
$glyph-click: #56819f;
$glyph-highlight: #ffffff;
$glyph-action: #f58220;
$glyph-value: #333333;

/* color highlights */
$component-main: #f58220;
$component-aux01: #80bfca;
$component-aux02: #59b66d;
$component-aux03: #f58220;
$component-active: #04ae00;
$component-attention: #f58220;
$component-nav-highlight: #282828;

/* color backgrounds */
$background-page: #f5f5f2;
$background-nav: #191919;
$background-section: #ffffff;
$background-border: #e3e3e3;
$background-nav-border: #a6a6a6;



/* Fonts */

/* Font sizes */
$font-size-main: 16px;

$font-size-min1: 14px;
$font-size-min2: 13px;

$font-size-max1: 18px;
$font-size-max2: 20px;

/* Fonts family*/

$font:'Roboto', sans-serif;

$font-regular: 500;
$font-light: 300;
$font-medium: 400;
$font-bold: 700;
