/* Colors */
$glyph-main-color: #a6a6a6;
$brand-main-color: #ff0000;
$background-main-color: #f5f5f2;
$background-nav-color: #191919;


/* Font sizes */
$paragraph-font-size: 16px;

/* Fonts */
$brand-font: 'Roboto 700', sans-serif;;
$paragraph-font: 'Roboto', sans-serif;;
