@import "../variables";

.btn {
  display: block;
  border: none;
  height: 40px;
  padding: 0 12px;
  border-radius: 5px;
  background-color: $component-main;
  color: $glyph-highlight;
  font-family: $font-light;
  transition: .2s ease-in-out;

  i {
    color: $glyph-highlight;
  }

  &:hover {
    opacity: .8;
  }
}

.secondary {
  background-color: $background-nav-border;
}

.danger {
  background-color: $component-attention;
}
