
@import "../variables";
@import "navigation_core";

//for screen code look at navigation_override.scss


@media(min-width: 768px) {
  .md-hide {
    display: none;
  }
}



@media(max-width: 767px) {
  nav {
    width: 50px;
  }

  .nav-navpanel-list-item a,
  .nav-navbar-container img {
    display: none;
  }

  .hamburger {
    margin: 0 auto;
  }

  .nav-navpanel-list-item i {
    margin: 0 15px;
    text-align: center;
  }

  .nav-navpanel-list-item:hover {
      background-image: linear-gradient(90deg, $component-attention 0%, $component-attention 10%, $component-nav-highlight 10%, $component-nav-highlight 100%);
  }

  .nav-navpanel-manager-avatar:hover {
    background-image: none;
    background-color: $component-nav-highlight;
  }

  .nav-navpanel-manager p,
  .name-link {
    display: none;

  }

  .nav-navpanel-manager-avatar img {
    margin: 0 auto;
    height: 35px;
  }

  .indi-dot {
    left:30px;

  }
}


.nav-expand {

  width: 188px;


  .nav-navpanel-list-item a {
    display: inline;
  }

  .nav-navbar-container img {
    display: block;
  }

  .hamburger {
    margin: 0 15px;
  }

  .nav-navpanel-list-item i {
    margin: 0 15px;
    text-align: center;
  }

  .nav-navpanel-list-item:hover {
      background-image: linear-gradient(90deg, $component-attention 0%, $component-attention 3%, $component-nav-highlight 3%, $component-nav-highlight 100%);
  }

  .nav-navpanel-manager-avatar:hover {
    background-color: none;
    background-image: linear-gradient(90deg, $component-active 0%, $component-active 3%, $component-nav-highlight 3%, $component-nav-highlight 100%);
  }

  .nav-navpanel-manager p,
  .name-link {
    display: inline-block;

  }

  .nav-navpanel-manager-avatar img {
    margin: 0 18px;
    height: 45px;
  }

  .indi-dot {
    left: 50px;

  }

}
